<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>nybike</display-name>
  <welcome-file-list>
    <welcome-file>nybikemap.html</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>cn.tedu.nybike.listener.MySCListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>InfoServlet</servlet-name>
    <servlet-class>cn.tedu.nybike.web.InfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoServlet</servlet-name>
    <url-pattern>/info</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StatusServlet</servlet-name>
    <servlet-class>cn.tedu.nybike.web.StatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusServlet</servlet-name>
    <url-pattern>/status</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Demo1Servlet</servlet-name>
    <servlet-class>cn.tedu.nybike.web.Demo1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo1Servlet</servlet-name>
    <url-pattern>/demo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Demo2Servlet</servlet-name>
    <servlet-class>cn.tedu.nybike.web.Demo2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo2Servlet</servlet-name>
    <url-pattern>/demo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Demo3Servlet</display-name>
    <servlet-name>Demo3Servlet</servlet-name>
    <servlet-class>cn.tedu.nybike.web.Demo3Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo3Servlet</servlet-name>
    <url-pattern>/demo3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Demo4Servlet</display-name>
    <servlet-name>Demo4Servlet</servlet-name>
    <servlet-class>cn.tedu.nybike.web.Demo4Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo4Servlet</servlet-name>
    <url-pattern>/demo4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HotPointServlet</display-name>
    <servlet-name>HotPointServlet</servlet-name>
    <servlet-class>cn.tedu.nybike.web.HotPointServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotPointServlet</servlet-name>
    <url-pattern>/hotPoint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeatherServlet</display-name>
    <servlet-name>WeatherServlet</servlet-name>
    <servlet-class>cn.tedu.nybike.web.WeatherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeatherServlet</servlet-name>
    <url-pattern>/weather</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CusSubServlet</display-name>
    <servlet-name>CusSubServlet</servlet-name>
    <servlet-class>cn.tedu.nybike.web.CusSubServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CusSubServlet</servlet-name>
    <url-pattern>/cusSub</url-pattern>
  </servlet-mapping>
</web-app>